*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.fullWebsite{
    max-width: 1280px;
    margin: 0 auto;
}
header{
    background: rgba(13, 110, 253, 0.05);
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.header-menu h2{
    font-size: 1.8rem;
    font-weight: 600;
}
.sign-up{
    padding: 0.8rem 2rem;
    background-color: rgb(83, 83, 243);
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    font-size: .9rem;
    transition: .5s;
}
.sign-up:hover{
    background-color: rgb(24, 24, 104);
}

/* banner sectiono style here */
.banner-section{
    text-align: center;
    padding: 5rem 0;
    width: 60%;
    margin: 0 auto;
}
.banner-section p{
    color: #706F6F;
    line-height: 1.5rem;
    margin: 1rem 0;
}
.banner-section h1{
    font-size: 3rem;
    font-weight: 600;
}
.img-feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.img-position{
    position: relative;
    top: 5rem;
}

/* search bar section*/
.search-bar{
    margin: 3rem 0;
    padding: 10px;
}
.search-bar h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.search-bar input{
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: .9rem;
    border: 1px solid #f2f2f2;
    width: 50%;
}
.input-box{
    text-align: center;
}

/* card section style heree */
.show-phone-section{
    padding: 10px;
    margin: 4rem 0;
}
.phone-card{
    border: 1px solid #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.phone-card img{
    margin: 0 auto;
}
.phone-card p{
    margin: 10px 0;
}
.phone-card h3{
    margin: 10px 0;
    font-size: 1.3rem;
    font-weight: 500;
}
.phone-card h4{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.phone-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* warning not phone found */
.warning-phones{
    text-align: center;
    font-size: 40px;
    color: red;
}
.showAll-container{
    text-align: center;
    margin-top: 3rem;
}
.hidden{
    display: none;
}

/* modal style here */
.show-details-content img{
    max-width: 30%;
    margin: 0 auto;
}
.show-details-content h4{
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 5px;
}

/* hot gadget section  */
.hot-gadget{
    background: rgba(13, 110, 253, 0.05);
    margin-top: 20px 0;
    padding: 4rem;
}
.gadget-social-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.gadget-social-icon i{
    font-size: 1.5rem;
    background: #ffffff;
    box-shadow: 1px 1px 3px #e3e3e3;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}
.emtry-border{
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}
footer{
    background: rgba(13, 110, 253, 0.05);
}