*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
header{
    background: rgba(13, 110, 253, 0.05);
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.sign-up{
    padding: 0.8rem 2rem;
    background-color: rgb(83, 83, 243);
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    font-size: .9rem;
}

/* banner sectiono style here */
.banner-section{
    text-align: center;
    padding: 5rem 0;
    width: 60%;
    margin: 0 auto;
}
.banner-section p{
    color: #706F6F;
    line-height: 1.5rem;
    margin: 1rem 0;
}
.banner-section h1{
    font-size: 3rem;
}
.img-feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.img-position{
    position: relative;
    top: 5rem;
}