*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
header{
    background: rgba(13, 110, 253, 0.05);
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.sign-up{
    padding: 0.8rem 2rem;
    background-color: rgb(83, 83, 243);
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    font-size: .9rem;
    transition: .5s;
}
.sign-up:hover{
    background-color: rgb(24, 24, 104);
}

/* banner sectiono style here */
.banner-section{
    text-align: center;
    padding: 5rem 0;
    width: 60%;
    margin: 0 auto;
}
.banner-section p{
    color: #706F6F;
    line-height: 1.5rem;
    margin: 1rem 0;
}
.banner-section h1{
    font-size: 3rem;
}
.img-feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.img-position{
    position: relative;
    top: 5rem;
}

/* search bar section*/
.search-bar{
    margin: 3rem 0;
    padding: 10px;
}
.search-bar h1{
    font-size: 3rem;
    text-align: center;
}
.search-bar input{
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: .9rem;
    border: 1px solid #f2f2f2;
    width: 50%;
}
.input-box{
    text-align: center;
}

/* card section style heree */
.show-phone-section{
    padding: 10px;
    margin: 4rem 0;
}
.card{
    border: 1px solid #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.card p{
    margin: 10px 0;
}
.card h4{
    margin-bottom: 10px;
}
.phone-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* warning not phone found */
.warning-phones{
    text-align: center;
    font-size: 40px;
    color: red;
}
.showAll-container{
    text-align: center;
    margin-top: 3rem;
}
.hidden{
    display: none;
}